
.b-example-divider
  footer.footer.pb-5.pt-4
    .container
      .row.justify-content-between.align-items-center
        .col-md-6.mb-lg-0.mb-3.text-center.text-md-start
          img.img-fluid(src="/img/brand/tyr-logo-w.png" alt="TyR Logo" style="max-height:3rem")
          img.img-fluid.ms-2(src="/img/brand/tyr-brand-w.png" alt="TyR Logo" style="max-height:2rem")
          p.mt-4.px-2
            small.fst-italic.text-light
              | Síguenos en las redes sociales y no te pierdas nada!
          div.d-flex.px-1.justify-content-center.justify-content-md-start
            a.me-2.social-icon(href="https://www.facebook.com/Torres-y-Rold%C3%A1n-Corredur%C3%ADa-de-seguros-100753332245669/" target="_blank")
              i.bi.bi-facebook.mx-2.social-facebook
            a.me-2.social-icon(href="https://www.instagram.com/torresyroldanseguros/" target="_blank")
              i.bi.bi-instagram.mx-2.social-instagram
            a.me-2.social-icon(href="https://www.linkedin.com/in/marta-torres-roldan-7823a454/" target="_blank")
              i.bi.bi-linkedin.mx-2.social-linkedin
            a.me-2.social-icon(href="https://www.google.com/maps?ll=37.121332,-3.583444&z=16&t=m&hl=es&gl=US&mapclient=embed&cid=14343920815535404745" target="_blank")
              i.bi.bi-google.mx-2.social-google

          .input-group.my-4
            a.mybtn.mybtn-white.text-center(href="contacto") Contacta!

        .col-md-6.text-light.text-center
          h5.mb-4.mx-2.pb-2(style='border-bottom:1px solid var(--col-secondary)') Todos los seguros
          .row
            .col-md-6.col-6.text-light
              ul.list-unstyled.text-center            
                li.mb-2
                  a.link(href="/hogar") Hogar
                li.mb-2
                  a.link(href="/vida") Vida
                li.mb-2
                  a.link(href="/salud") Salud
                li.mb-2
                  a.link(href="/coche") Coche

            .col-md-6.col-6.text-light
              ul.list-unstyled.text-center
                li.mb-2
                  a.link(href="/moto") Moto
                li.mb-2
                  a.link(href="/empresas") Empresas
                li.mb-2
                  a.link(href="/decesos") Decesos
                li.mb-2
                  a.link(href="/otros") Otros

      .container
        p.text-center.mt-5.mt-md-2.mb-lg-0.fst-italic
          span(style='color:var(--col-white-muted)') &copy; 2022 Torres y Roldán Correduría de Seguros S.L.

  script(src="/js/navbar-active.js")
  
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")