extends home

block landing 

block main 
  main.section-background.container.px-0.text-center(style="margin-top: var(--mt-to-header)")
    img.pt-3.px-3.img-fluid.d-block.mx-auto(src="/img/brand/tyr-logo.png" alt="brand logo")
    h3.display-5.text-center.text-dark.my-4.w-75.mx-auto Oops, parece que la página donde intentas acceder no existe.
      .py-5
        a.mybtn-special.text-center.mx-auto(href='/') Volver al inicio
  