/* Bootstrap */
/* Small devices (landscape phones, 544px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* X-large devices (large desktops, 1200px and up) */
/* XX-large devices (large desktops, 1400px and up) */

.petit {
  font-family: Petit Formal Script, cursive
}

/* HEADINGS */
/* Base */
.heading {
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: 600;
  max-width: 70%
}

@media (min-width: 530px) {  
  .heading {
    font-size: 1.5rem;
    letter-spacing: 2px;
    max-width: 70%
  }
}

@media (min-width: 690px) {  
  .heading {
    font-size: 2rem;
    letter-spacing: 3px;
    max-width: 70%
  }
}

@media (min-width: 840px) {  
  .heading {
    font-size: 2.5rem;
    letter-spacing: 3px;
    max-width: 70%
  }
}

@media (min-width: 1040px) { 
  .heading {
    font-size: 2.8rem;
    letter-spacing: 3px;
    max-width: 60%
  }
}

@media (min-width: 1230px) {  
  .heading {
    font-size: 3.1rem;
    letter-spacing: 3px;
    max-width: 60%
  }
}

@media (min-width: 1400px) {  
  .heading {
    font-size: 3.3rem;
    letter-spacing: 3px;
    max-width: 60%
  }
}

/* SUB HEADINGS */

/* Base */
.sub-heading {
  font-size: .9rem;
  letter-spacing: 0;
  font-weight: 500;
  max-width: 90%
}
@media (min-width: 790px) {  
  .sub-heading {
    font-size: 1rem;
    letter-spacing: 1px;
    max-width: 60%
  }
}
@media (min-width: 1024px) { 
  .sub-heading {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;
    max-width: 60%
  }
}
@media (min-width: 1200px) {  
  .sub-heading {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    max-width: 60%
  }
}
@media (min-width: 1400px) {  
  .sub-heading {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    max-width: 50%
  }
}